name: CodSpeed Benchmarks

on:
  push:
    branches:
      - "master"
  pull_request:
  # `workflow_dispatch` allows CodSpeed to trigger backtest
  # performance analysis in order to generate initial data.
  workflow_dispatch:

jobs:
  benchmarks:
    name: Run benchmarks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-unknown-unknown
      - run: |
          git clone https://github.com/wasm-bindgen/wasm-bindgen.git -b w/bench
          cd wasm-bindgen
          cargo install --path crates/cli

      - name: Run the benchmarks
        uses: CodSpeedHQ/action@v4
        with:
          mode: walltime
          run: cargo run --manifest-path wcodspeed/Cargo.toml target/wbg_bench.json
          token: ${{ secrets.CODSPEED_TOKEN }} # optional for public repos
